---
- hosts: localhost
  connection: local
  gather_facts: true
  become: false

  tasks:
    - name: Install Docker using geerlingguy.docker role
      ansible.builtin.include_role:
        name: geerlingguy.docker